{% extends "base_site.html" %}
{% load bootstrap3 %}

{% block page_title %}Edit Testbed{% endblock %}

{% block page_body %}
    <h1 class="text-center">Edit a Testbed</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'edit_testbed' %}" method="GET" role="form" class="form">
                <div class="form-group">
                    <select class="form-control" name="testbed" id="id_testbed">
                        {% for testbed in user_testbeds %}
                            <option value="{{ user.username}}/{{ testbed }}">{{ testbed|title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "pencil" %} Edit
                    </button>
                    <a class="btn btn-primary btn-submit" href="{% url 'delete_testbed' %}" data-confirm-navigation=true data-confirm-message="Are you sure you want to delete this testbed?">
                        {% bootstrap_icon "remove" %} Delete
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="id_testbed_contents"></div>
        </div>
    </div>
{% endblock %}
